@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    width:100%;
    height:69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
/* INICIO DA FIRST PAGE */
.firstpage{
    width:1100px;
    margin: 0 auto;
    padding-top:69px;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

    /* INICIO CREATE QUIZZ */
.createquizz-box{
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px; 
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:77px;
}

.createquizz-box > h3{
    width:250px;
    height:101px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.createquizz-box button{
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    transition: 0.5s;

}


.createquizz-box button:hover{
    cursor: pointer;
    background-color:#EC362D;
    color:white;

}
    /* FIM CREATE QUIZZ */
    /* ABA SEUS QUIZZES */
.seusquizzes{
    margin-bottom:42px;
}
.seusquizzes-title{
    width:200px;
    margin-top:69px;
    display:flex;
    align-items: center;
    margin-bottom:12px;
}
.seusquizzes-title ion-icon{
    width:30px;
    height:30px;
    color:red;
}
.quizztab{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right:16px;
}

.containerseusquizzes > img{
    width: 350px;
    height: 181px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position:relative;
    border-radius: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000 100%);
    border-radius: 5px;
}
    /* FIM DA ABA SEUS QUIZZES */
.allquizzes{
    margin-bottom:12px;
}
ul{
    width:1100px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:12px;
}
li{
    width: 350px;
    height: 181px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position:relative;
    border-radius: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000 100%);
    border-radius: 5px;
}
li:hover{
    border: 1px red;
}
li > img {
    position:absolute;
    border-radius: 5px;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
} 

li > h2 {
    position:absolute;
    bottom:0;
    max-width: 340px;
    height: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    word-break:break-all;
    padding-left:20px;
}
/* FINAL DA FIRST PAGE */

/* PAGES FROM CREATION QUIZZ - INICIO DA SECOND PAGE */
.creationPages{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: fit-content;
    margin-top: 140px;
  }
  .titleCreationQuizz{
    margin-bottom: 35px;
  }
  .creationPages h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .creationPages div{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    position: relative;
    margin-block: 30px;
  }
  .creationPages div input{
    width: 100%;
    height: 46px;
    margin-block: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 10px;
  }
  .creationPages button{
    width: 75%;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin-top: 10px;
  }

  .creationPages aside{
    transition: 1s;
  }

  .creationPages article{
    margin-block: 10px;
  }
  
  .creationPages button:hover{
    background: #d33129;
  }
  
  .creationPages section{
    width: 100%;
  }

  .editIcon{
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 26px;
    cursor: pointer;

  }
/* FIM DA SECOND PAGE */
  .displayNone{
    display: none;
  }


@media(max-width:1100px){
    .createquizz-box{
        width: 100%;
    }
    ul{
        width:100%
    }
    
}

@media(max-width:600px){
    .creationPages{
        width: 100%;
    }
}