@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  font-family:'Roboto', sans-serif;
  box-sizing: border-box;
}

header{
  width:100%;
  height:69px;
  background: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position:fixed;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.logo{
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #FFFFFF;
}

/* INICIO DA FIRST PAGE */
.firstpage{
    width:1050px;
    margin: 0 auto;
    padding-top:77px;
}
main{
    
    margin: 0 auto;
    padding-top:69px;
    display:flex;
    flex-direction: column;
}
    /* INICIO CREATE QUIZZ */
.createquizz-box{
    Width: 100%;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px; 
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-bottom:77px;
}

.createquizz-box > h3{
    width:250px;
    height:101px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.pageBoard{
    display:flex;
    flex-direction: column;
} 
.createquizz-box button{
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    transition: 0.5s;

}


.createquizz-box button:hover{
    cursor: pointer;
    background-color:#EC362D;
    color:white;

}
    /* FIM CREATE QUIZZ */
    /* ABA SEUS QUIZZES */
.seusquizzes{
    margin-bottom:42px;
}
.seusquizzes-title{
    width:200px;
    margin-top:69px;
    display:flex;
    align-items: center;
    margin-bottom:12px;
}
.seusquizzes-title ion-icon{
    width:30px;
    height:30px;
    color:red;
}
.quizztab{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right:16px;
}

.containerseusquizzes > img{
    width: 350px;
    height: 181px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position:relative;
    border-radius: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000 100%);
}
    /* FIM DA ABA SEUS QUIZZES */
.allquizzes{
    margin-bottom:12px;
    height: 23px;
}
ul{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:15px;
}
li{
    width: 340px;
    height: 181px;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000 100%);
    border-radius: 5px;
    margin-bottom:13px;
}
li:hover{
    border: 1px red;
}
li > img {
    position:absolute;
    border-radius: 5px;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
} 

li > h2 {
    position:absolute;
    bottom:0;
    max-width: 340px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    word-break:break-all;
    padding:20px;
}
/* FINAL DA FIRST PAGE */
/*  PAGINA 2  */
main {
  padding-top:69px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  height: 227px;
  width: 100%;
  position: relative;
}
  
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.banner .titulo {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 39px;
  background-color: rgba(0, 0, 0, 0.57);
  padding: 0 20px;
}

.caixaquizz{
    margin: 0 auto;
    width: 759px;
    height: 676px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding:36px;
    margin-top:42px;
    margin-bottom:42px;
 
}
.pergunta {
  
  width: 100%;
  height: 138px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 23px;

 
}
.opções{
  height:466px;
  margin-top:20px;
  max-width: 688px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.resposta img{
  width: 330px;
  height: 175px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.resposta h3{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-top:9px;
}
/* PAGES FROM CREATION QUIZZ - INICIO DA THIRD PAGE */
.creationPages{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top:140px;
    width: 600px;
    height: fit-content;
  }
  .titleCreationQuizz{
    margin-bottom: 35PX;
  }
  .creationPages h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .creationPages div{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    position: relative;
    margin-block: 30px;
  }
  .creationPages div input, textarea{
    width: 100%;
    height: 46px;
    margin-block: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 10px;
  }
  textarea{
    padding-top: 10px;
    height:177px
  }
  .creationPages button{
    width: 75%;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin-top: 10px;
  }

  .creationPages aside{
    transition: 1s;
  }

  .creationPages article{
    margin-block: 10px;
  }
  
  .creationPages button:hover{
    background: #d33129;
  }
  
  .creationPages section{
    width: 100%;
  }

  .editIcon{
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 26px;
    cursor: pointer;

  }
  .displayNone{
    display: none;
  }



@media(max-width:1100px){
    .firstpage{
        width:90%;
    }
    ul{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:600px){
    .creationPages{
        width: 100%;
    }
}